<app-bread-crumb [items]="[{link: '/categories', text: 'Categorias'}, {text: pegeTitle}]"></app-bread-crumb>

<app-pege-header [page-title]="pegeTitle" button-link="/categories" button-text="<< Voltar" button-class="btn-light"></app-pege-header>

<form [formGroup]="resourceForm" (submit)="submitForm()">
  <div class="card">
    <div class="card-header">
      Informações sobre a categoria
    </div>

    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="name">Nome</label>
          <input type="text" class="form-control" id="name" formControlName="name">

          <app-form-field-error [form-control]="resourceForm.get('name')"></app-form-field-error>
        </div>
        <div class="form-group col-md-8">
          <label for="description">Descrição</label>
          <input type="text" class="form-control" id="description" formControlName="description">
        </div>
      </div>
    </div>
  </div>

  <app-server-error-messages [server-error-messages]="serverErrorMessages"></app-server-error-messages>

  <button [disabled]="submitingForm || resourceForm.invalid" type="submit" class="btn btn-primary btn-lg float-right mt-3">Salvar</button>
</form> 